{% extends "layout.html" %}


{% block headtitle %}
    Request game list
{% endblock %}

{% block body %}
    <form action="{{ url_for('show_games') }}" id="param_select" method="GET">

        <label>Number of games to show:</label><br>
        <input required name="num_games"
               type="number" min="1" step="1"
               placeholder="Number of games"
               onfocus="this.placeholder=''"
               onblur="this.placeholder='Number of games'"><br>

        <label for="sort">Parameter to sort:</label><br>
        <select id="sort" name="sort" form="param_select">
            <option selected="selected" value="rank">Boardgame rank</option>
            <option value="title">Title</option>
            <option value="bggrating">Geek rating</option>
            <option value="avgrating">Avg rating</option>
            <option value="numvoters">Num voters</option>
        </select><br>

        <label for="sort_dir">Sort direction:</label><br>
        <select id="sort_dir" name="sort_dir" form="param_select">
            <option selected="selected" value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select><br>

        <input type="submit">
    </form><br>

    <form action="{{ url_for('search') }}" id="search_param" method="GET">

        <label>Search:</label><br>
        <input required name="search_string"
               type="text"
               placeholder="Search"
               onfocus="this.placeholder=''"
               onblur="this.placeholder='Search'"><br>

        <label for="exact">Exact search</label>
        <input type="checkbox" id="exact" name="exact" value="1"><br>

        <input type="submit">
    </form><br>
{% endblock %}

